.description {
    background: rgba(236, 221, 156, 0.4);
    color: #3a0303;
    text-align: center;
}

p {
    background: rgba(236, 221, 156, 0.4);
    color: #3a0303;
    text-align: justify;
}

ul {

    background: rgba(236, 221, 156, 0.4);
    color: #3a0303;
    text-align: justify;

}

body {
    background: #c4bcbc;
}

img {
    border: 10px #ff0900;

}

body, html {
    scroll-behavior: smooth;
}