* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_box {
    width: 700px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}

.main_widgets {
    height: 200px;
    background: #2f70de;
    margin-bottom: 5px;
}

.selectors {
    flex-wrap: wrap;
    column-gap: 5px;
}

.widgets {
    height: 300px;
    width: 226px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #2c57d0;
}

.main_contact {
    height: 200px;
    background: #2f70de;
    margin-bottom: 5px;
    margin-top: 5px;
}