* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_box {
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}

.main_header {
    height: 75px;
    background: #2c57d0;
}

.main_nav {
    height: 50px;
    background: #143586;
}

.selection {
    flex-basis: 600px;
    height: 400px;
}

.big_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #799bf8;
    height: 400px;
    flex-grow: 3;
}
.small_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3d58a6;
    height: 400px;
    flex-grow: 1;
}
.main_footer {
    height: 50px;
    background: #a1c0fc;
}